/* app/home/Home.module.css */
.container {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  height: 100vh; /* Full viewport height */
}

.title {
  font-size: 48px;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 40px;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
}

.button:hover {
  background-color:gray; 
}

.imageContainer {
  display: flex;
  flex-wrap: wrap; /* Allows images to wrap if there are too many */
  justify-content: center; /* Center images horizontally */
  margin-top: 20px;
}
.image {
  width: 150px; /* Set fixed width for images */
  height: auto; /* Maintain aspect ratio */
  margin: 10px; /* Space between images */
}